extends ../layouts/application

block content
  h1 #{theClient.name} / #{project.name} / #{service ? "Update" : "Create"} Service

  form.well.form-horizontal(action='/admin/clients/' + theClient.id + '/projects/' + project.id + '/services' + (service ? ('/' + service.id) : ""), method="POST")
    fieldset
      if service
        input(type="hidden", name="_method", value="PUT")
      .control-group
        label.control-label Name
        .controls
          select(name="service[name]")
            - for (var serviceOption in widgets)
              option(value="#{serviceOption}", selected=(service && service.name == serviceOption ? "selected" : false))= widgets[serviceOption]['name']
      .control-group
        label.control-label Endpoint URL
        .controls
          input(type="text", name="service[url]", value=(service ? service.url : ""))
      .control-group
        label.control-label Project Identifier
        .controls
          input(type="text", name="service[identifier]", value=(service ? service.identifier : ""))
      .control-group
        label.control-label Service User
        .controls
          input(type="text", name="service[user]", value=(service ? service.user : ""))
      .control-group
        label.control-label Service Token
        .controls
          input(type="text", name="service[token]", value=(service ? service.token : ""))
      .control-group
        label.control-label Config Data
        .controls
          textarea(name="service[config]")= service && service.config ? service.config : "{}"

      .control-group
        .controls
          input.btn(type="submit", value=(service ? "Update" : "Create"))
