style(type='text/css')
  .form-inline .controls {
    display: inline-block;
  }
  .form-inline .control-group {
    float: left;
  }
  .form-inline .control-label {
    display: inline-block;
  }

h2 Billable Time

form.form-inline.settings
  fieldset
    .control-group
      .btn-group
        a.btn.cashboard-global-time-shortcut#cashboard-global-last-month('href'="#cashboard-global-last-month") Last Month
        a.btn.cashboard-global-time-shortcut#cashboard-global-last-week('href'="#cashboard-global-last-week") Last Week
        a.btn.cashboard-global-time-shortcut#cashboard-global-this-month('href'="#cashboard-global-this-month") This Month
        a.btn.cashboard-global-time-shortcut#cashboard-global-this-week('href'="#cashboard-global-this-week") This Week
    .control-group
      label.control-label &nbsp; Start date &nbsp;
      .controls
        input.datepicker.span2(type="text", name="start_date", value="#{service.defaultSettings()['start_date']()}")
    .control-group
      label.control-label &nbsp; End date &nbsp;
      .controls
        .input-append
          i.icon-ok.refresh-ok.pull-right
          &nbsp;
          input.datepicker.span2(type="text", name="end_date", value="#{service.defaultSettings()['end_date']()}")
          button.btn.btn-small.refresh-service('data-service'='cashboard_global_billable_time', 'data-id'="#{service.id}")
            i.icon-filter

.row-fluid
  .span12
    a.accordian-toggle('data-toggle'="collapse", 'data-target'="#time-entries-#{service.id}", 'href'="#time-entries-#{service.id}")
      | Detailed Time Entries
    div.cashboard-billable-table-container.collapse('id'="time-entries-#{service.id}")
      table.table.table-bordered.cashboard-billable-table
        thead
          tr
            th Date
            th Member
            th Project
            th Hours
            th Rate
            th Pay Rate
            th Total
            th Notes
        tbody
          tr
            td.data-row.right-align(colspan=7)
              .loading.large
                | Loading 
                img(src="/images/ajax-loader.gif")

.row-fluid
  .span6
    h3 Summary
    table.table.table-bordered.cashboard-billable-summary-table
      tr
        th Total Hours
        td.total-hours.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Total Billable
        td.total-billable.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Total Goal
        td.total-goal.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Total Break-even
        td.total-break-even.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Average Hourly Rate
        td.average-hourly-rate.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")

  .span6
    ul.nav.nav-tabs
      li
        a(href="#member-billable-content", 'data-toggle'="tab") Member
      li.active
        a(href="#cumulative-member-billable-content", 'data-toggle'="tab") Cumulative
      li
        a(href="#project-billable-content", 'data-toggle'="tab") Project
      li
        a(href="#cumulative-project-billable-content", 'data-toggle'="tab") Cumulative

    div.tab-content
      div.tab-pane#member-billable-content
        div.hours-by-day-by-member.cashboard-global-graph
          .loading.large
            | Loading 
            img(src="/images/ajax-loader.gif")

      div.tab-pane.active#cumulative-member-billable-content
        div.cumulative-hours-by-day-by-member.cashboard-global-graph
          .loading.large
            | Loading 
            img(src="/images/ajax-loader.gif")

      div.tab-pane#project-billable-content
        div.hours-by-day-by-project.cashboard-global-graph
          .loading.large
            | Loading 
            img(src="/images/ajax-loader.gif")

      div.tab-pane#cumulative-project-billable-content
        div.cumulative-hours-by-day-by-project.cashboard-global-graph
          .loading.large
            | Loading 
            img(src="/images/ajax-loader.gif")

h2 Invoices &amp; Payments

.row-fluid
  .span12
    a.accordian-toggle('data-toggle'="collapse", 'data-target'="#invoices-#{service.id}", 'href'="#invoices-#{service.id}")
      | Invoice List
    div.cashboard-billable-table-container.collapse('id'="invoices-#{service.id}")
      table.table.table-bordered.cashboard-invoices-table
        thead
          tr
            th Invoice Date
            th Invoice Number
            th Client
            th Amount
            th Balance
            th Due Date
        tbody
          tr
            td.data-row.right-align(colspan=6)
              .loading.large
                | Loading 
                img(src="/images/ajax-loader.gif")
.row-fluid
  .span12
    a.accordian-toggle('data-toggle'="collapse", 'data-target'="#payments-#{service.id}", 'href'="#payments-#{service.id}")
      | Payments List
    div.cashboard-billable-table-container.collapse('id'="payments-#{service.id}")
      table.table.table-bordered.cashboard-payments-table
        thead
          tr
            th Payment Date
            th ID
            th Client
            th Amount
            th Notes
        tbody
          tr
            td.data-row.right-align(colspan=5)
              .loading.large
                | Loading 
                img(src="/images/ajax-loader.gif")

.row-fluid
  .span6
    h3 Summary
    table.table.table-bordered.cashboard-invoice-summary-table
      tr
        th Invoiced
        td.invoiced.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Payments Received
        td.payments.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
