style(type='text/css')
  .form-inline .controls {
    display: inline-block;
  }
  .form-inline .control-group {
    float: left;
  }
  .form-inline .control-label {
    display: inline-block;
  }
.pull-right
  form.form-inline.settings
    fieldset
      .control-group
        .btn-group
          a.btn.cashboard-global-time-shortcut#cashboard-global-last-month('href'="#cashboard-global-last-month") Last Month
          a.btn.cashboard-global-time-shortcut#cashboard-global-last-week('href'="#cashboard-global-last-week") Last Week
          a.btn.cashboard-global-time-shortcut#cashboard-global-this-month('href'="#cashboard-global-this-month") This Month
          a.btn.cashboard-global-time-shortcut#cashboard-global-this-week('href'="#cashboard-global-this-week") This Week
      .control-group
        label.control-label &nbsp; Start date &nbsp;
        .controls
          input.datepicker.span2(type="text", name="start_date", value="#{service.defaultSettings()['start_date']()}")
      .control-group
        label.control-label &nbsp; End date &nbsp;
        .controls
          .input-append
            i.icon-ok.refresh-ok.pull-right
            &nbsp;
            input.datepicker.span2(type="text", name="end_date", value="#{service.defaultSettings()['end_date']()}")
            button.btn.btn-small.refresh-service('data-service'='cashboard_global_billable_time', 'data-id'="#{service.id}")
              i.icon-filter

h2 Billable Time

.row-fluid
  .span12
    a.accordian-toggle('data-toggle'="collapse", 'data-target'="#time-entries-#{service.id}", 'href'="#time-entries-#{service.id}")
      | Detailed Time Entries
    div.cashboard-billable-table-container.collapse('id'="time-entries-#{service.id}")
      table.table.table-bordered.cashboard-billable-table
        thead
          tr
            th Date
            th Member
            th Project
            th Hours
            th Rate
            th Pay Rate
            th Total
            th Notes
        tbody
          tr
            td.data-row.right-align(colspan=7)
              .loading.large
                | Loading 
                img(src="/images/ajax-loader.gif")

.row-fluid
  .span6
    h3 Summary
    table.table.table-bordered.cashboard-billable-summary-table
      tr
        th Total Hours
        td.total-hours.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Total Billable
        td.total-billable.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Total Break-even
        td.total-break-even.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Average Hourly Rate
        td.average-hourly-rate.right-align
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")

.row-fluid
  .span6
    h3 Member Billable
    div.hours-by-day-by-member.cashboard-global-graph
      .loading.large
        | Loading 
        img(src="/images/ajax-loader.gif")

  .span6
    h3 Cumulative Member Billable
    div.cumulative-hours-by-day-by-member.cashboard-global-graph
      .loading.large
        | Loading 
        img(src="/images/ajax-loader.gif")

.row-fluid
  .span6
    h3 Project Billable
    div.hours-by-day-by-project.cashboard-global-graph
      .loading.large
        | Loading 
        img(src="/images/ajax-loader.gif")

  .span6
    h3 Cumulative Project Billable
    div.cumulative-hours-by-day-by-project.cashboard-global-graph
      .loading.large
        | Loading 
        img(src="/images/ajax-loader.gif")
