extends ../layouts/application

block head
  script
    function addCommas(nStr) {
      nStr += '';
      x = nStr.split('.');
      x1 = x[0];
      x2 = x.length > 1 ? '.' + x[1] : '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
      }
      return x1 + x2;
    }

    function stringToUrl(str) {
      var url = document.createElement('a');
      url.href = str;
      return url;
    }

    var socket = io.connect(location.protocol + '//' + location.host);
    var emitters = {};

  each service in project.services
    script
      socket.on('serviceResponse', function(data) {
        if (data.id == "#{service.id}") {
          widgets["#{service.name}"].call(this, data, jQuery);
        }
      });

  each service in project.services
    script
      emitters["#{service.name}-#{service.id}"] = function() {
        socket.emit('service', {client: "#{theClient.id}", project: "#{project.id}", service: "#{service.name}", id: "#{service.id}"});
      };
      emitters["#{service.name}-#{service.id}"]();

  script
    $(document).delegate('.refresh-service', 'click', function(e) {
      var $this = $(this),
          service = $this.data('service'),
          id = $this.data('id');
      $this.addClass('disabled').text('Refreshing...');
      emitters[service + '-' + id]();
    });
    $(document).delegate('.errbit-description-toggle', 'click', function(e) {
      $(this).siblings('.errbit-description').slideToggle();
    });

block header
  - if (project.imageURL)
    .pull-right
      img(src=project.imageURL, height="60px")

  h1= title
  p Welcome to #{project.name}'s real-time tech status dashboard

block content

  - if (project.hasService('redmine_open_issues'))
    each service in project.filteredServices('redmine_open_issues')
      div(id="widget-#{service.id}")
        .pull-right
          i.icon-ok.refresh-ok.pull-left
          button.btn.btn-small.refresh-service('data-service'='redmine_open_issues', 'data-id'="#{service.id}")
            i.icon-retweet

        include ../../widgets/redmine_open_issues/view.jade

  .row-fluid
    .span8
      - if (project.hasService('errbit_unresolved_exceptions'))
        each service in project.filteredServices('errbit_unresolved_exceptions')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='errbit_unresolved_exceptions', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/errbit_unresolved_exceptions/view.jade

    .span4
      - if (project.hasService('cashboard_uninvoiced_amounts'))
        each service in project.filteredServices('cashboard_uninvoiced_amounts')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='cashboard_uninvoiced_amounts', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/cashboard_uninvoiced_amounts/view.jade

    .span4
      - if (project.hasService('aremysitesup_instant_status'))
        each service in project.filteredServices('aremysitesup_instant_status')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='aremysitesup_instant_status', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/aremysitesup_instant_status/view.jade
