extends ../layouts/application

block head
  script
    function addCommas(nStr) {
      nStr += '';
      x = nStr.split('.');
      x1 = x[0];
      x2 = x.length > 1 ? '.' + x[1] : '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
      }
      return x1 + x2;
    }

    var socket = io.connect(location.protocol + '//' + location.host);

    socket.on('serviceResponse', function(data) {
      if (data.redmine) {
        var rows = "";
        if (data.redmine.length > 0) {
          $.each(data.redmine, function(i, issue) {
            rows += '<tr>';
            rows += '<td>' + issue.id + '</td>';
            rows += '<td>' + issue.subject + '</td>';
            rows += '<td>' + issue.status + '</td>';
            rows += '<td>';
            if (issue.progress > 0) {
              rows += '<div class="progress progress-striped"><div class="bar" style="width: ' + issue.progress + '%;"></div>'
            }
            rows += '</td>';
            rows += '</tr>';
          });
        } else {
          rows += '<tr><td colspan=4><div class="alert alert-success">No current issue tickets</div></td></tr>';
        }
        $('#redmine tbody').html(rows);
        $('#redmine-title').append('<span class="badge">' + data.redmine.length + '</span>');
      } else if (data.cashboard) {
        $('#invoice').html('$' + addCommas(data.cashboard.invoice));
        $('#expenses').html('$' + addCommas(data.cashboard.expenses));
      } else if (data.errbit) {
        var rows = "";
        if (data.errbit.length > 0) {
          $.each(data.errbit, function(i, exception) {
            rows += '<tr>';
            rows += '<td>' + exception.title + '</td>';
            rows += '<td>' + exception.last_occurrence + '</td>';
            rows += '<td>' + exception.count + '</td>';
            rows += '<td>' + exception.env + '</td>';
            rows += '</tr>';
          });
        } else {
          rows += '<tr><td colspan=4><div class="alert alert-success">No unresolved exceptions <i class="icon-thumbs-up"></i></div></td></tr>';
        }
        $('#errbit tbody').html(rows);
        $('#errbit-title').append('<span class="badge ' + (data.errbit.length === 0 ? 'badge-success' : 'badge-warning') + '">' + data.errbit.length + '</span>');
      }
    });

  each service in project.services
    script
      socket.emit('service', {client: "#{theClient.id}", project: "#{project.id}", service: "#{service.name}"});

block header
  - if (project.imageURL)
    .pull-right
      img(src=project.imageURL, height="60px")

  h1= title
  p Welcome to #{project.name}'s real-time tech status dashboard

block content

  - if (project.hasService('redmine'))
    h2#redmine-title Current Tasks
    table.table.table-bordered#redmine
      thead
        tr
          th Ticket
          th Description
          th Status
          th % Done
      tbody
        tr
          td(colspan=4)
            .loading.large
              | Loading 
              img(src="/images/ajax-loader.gif")

  - if (project.hasService('errbit'))
    h2#errbit-title Unresolved Exceptions
    table.table.table-bordered#errbit
      thead
        tr
          th Exception
          th Environment
          th Last Occurrence
          th Occurrences
      tbody
        td(colspan=4)
          .loading.large
            | Loading 
            img(src="/images/ajax-loader.gif")

  - if (project.hasService('cashboard'))
    h2 Invoice Amount
    table.table.table-bordered#cashboard
      tr
        th Uninvoiced Time Amount
        td#invoice
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
      tr
        th Uninvoiced Expenses
        td#expenses
          .loading
            | Loading 
            img(src="/images/ajax-loader-small.gif")
