extends ../layouts/application

block head
  script
    Number.prototype.formatMoney = function(c, d, t){
      var n = this, c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" : "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    function stringToUrl(str) {
      var url = document.createElement('a');
      url.href = str;
      return url;
    }

    var socket = io.connect(location.protocol + '//' + location.host);
    var emitters = {};

  each service in project.services
    script
      socket.on('serviceResponse', function(data) {
        if (data.id == "#{service.id}") {
          widgets["#{service.name}"].call(this, data, jQuery);
        }
      });

  each service in project.services
    script
      emitters["#{service.name}-#{service.id}"] = function() {
        socket.emit('service', {client: "#{theClient.id}", project: "#{project.id}", service: "#{service.name}", id: "#{service.id}"});
      };
      emitters["#{service.name}-#{service.id}"]();

  script
    $(document).delegate('.refresh-service', 'click', function(e) {
      var $this = $(this),
          service = $this.data('service'),
          id = $this.data('id');
      $this.addClass('disabled').text('Refreshing...');
      emitters[service + '-' + id]();
    });
    $(document).delegate('.errbit-description-toggle', 'click', function(e) {
      $(this).siblings('.errbit-description').slideToggle();
    });

block header
  - if (project.imageURL)
    .pull-right
      img(src=project.imageURL, height="60px")

  h1= title
  p Welcome to #{project.name}'s real-time tech status dashboard

block content

  .row-fluid
    - if (project.hasService('cashboard_global_billable_time'))
      .span12
        each service in project.filteredServices('cashboard_global_billable_time')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='cashboard_global_billable_time', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/cashboard_global_billable_time/view.jade

  .row-fluid
    - if (project.hasService('redmine_open_issues'))
      .span12
        each service in project.filteredServices('redmine_open_issues')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='redmine_open_issues', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/redmine_open_issues/view.jade

  .row-fluid
    - if (project.hasService('errbit_unresolved_exceptions'))
      .span8
        each service in project.filteredServices('errbit_unresolved_exceptions')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='errbit_unresolved_exceptions', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/errbit_unresolved_exceptions/view.jade

    - if (project.hasService('cashboard_uninvoiced_amounts'))
      .span4
        each service in project.filteredServices('cashboard_uninvoiced_amounts')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='cashboard_uninvoiced_amounts', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/cashboard_uninvoiced_amounts/view.jade

    - if (project.hasService('aremysitesup_instant_status'))
      .span4
        each service in project.filteredServices('aremysitesup_instant_status')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='aremysitesup_instant_status', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/aremysitesup_instant_status/view.jade

    - if (project.hasService('semaphore_build_status'))
      .span5
        each service in project.filteredServices('semaphore_build_status')
          div(id="widget-#{service.id}")
            .pull-right
              i.icon-ok.refresh-ok.pull-left
              button.btn.btn-small.refresh-service('data-service'='semaphore_build_status', 'data-id'="#{service.id}")
                i.icon-retweet

            include ../../widgets/semaphore_build_status/view.jade
